DB_HOST=your-db-host
DB_PORT=5432
DB_NAME=your-db-name
DB_USER=your-db-user
DB_PASSWORD=your-db-password

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://your-db-user:your-db-password@your-db-host:5432/your-db-name?sslmode=require
GOOSE_MIGRATION_DIR=migrations

RESEND_API_KEY=your-resend-api-key

JWT_SECRET_KEY=your-jwt-secret-key